.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  font-family: 'Roboto';
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-section__header {
  font-size: 18px;
  font-weight: bold;
  color: gray;
}
