.category-list {
  display: flex;
}

.category {
  height: 125px;
  width: 125px;
  margin: 20px;
}

.category__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.category__name {
  margin-top: 5px;
  text-transform: uppercase;
}
