.category-list {
  display: flex;
}

.category {
  height: 125px;
  width: 125px;
  margin: 20px;
}

.category-list .category:hover {
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
}

.category__content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.category__name {
  margin-top: 5px;
  text-transform: uppercase;
}
