.transaction-list th,
.transaction-list td {
  text-align: center !important;
}

.transaction:hover .transaction__toolbar {
  opacity: 1;
}

.transaction__toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.transaction__value_income {
  color: green;
}

.transaction__value_expenses {
  color: red;
}

.transaction__icon:not(:first-child) {
  padding-left: 5px;
}
.transaction__icon:not(:last-child) {
  padding-right: 5px;
}
