.transaction:hover .transaction__toolbar {
  opacity: 1;
}

.transaction__toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.transaction__type_income {
  color: green;
}

.transaction__type_expenses {
  color: red;
}
