.transaction-list th,
.transaction-list td {
  text-align: center !important;
}

.transaction:hover .transaction__toolbar {
  opacity: 1;
}

.transaction__toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.transaction__value_income {
  color: green;
}

.transaction__value_expenses {
  color: red;
}
